body {
	background: #110A08;
	font: 11px / 20px "Lucida Sans Unicode", Arial, Tahoma, sans-serif;
	color: #EEE;
	margin: 40px;
}

ul.nostyle {
	list-style: none;
	padding: 0;
	margin: 0;
}

.shrinkwrap {

	/* Keeps the lists of items constricted
	   to their inline width, rather than
	   display block which will stretch out
	   the the width of the parent 
	   container */
	display: inline-block;
	
	/* Collapses the width of the container
	   to the width of the parent container 
	   when the parent container is smaller 
	   than the contents */
	max-width: 100%;
}

.fail {
	color: #F30;
	font-style: italic;
}
.icon {
	float: left;
	width: 16px;
	height: 16px;
	margin: 2px;
}

.success .count {

	/* Fallback for non RGBA supporting 
	   browsers, the color is the color
	   reported by the Fireworks 
	   eyedropper tool */
	color: #3D3836; 
	
	/* #EEE with 20% opacity */
	color: rgba(238, 238, 238, 0.2);
}

/* The icons are sized 16 x 16 for the
   regular small icon and 64 x 64 for
   the big icon. The big icon is to be
   used on the main test summary */
.fail .icon {
	background: url("icon_fail_16.png");
}
.fail .big-icon {
	background: url("icon_fail_64.png");
}
.success .icon {
	background: url("icon_success_16.png");
}
.success .big-icon {
	background: url("icon_success_64.png");
}

.icon {
	margin-right: 7px;
}

.count {
	float: right;
	margin-left: 5px;
}

.suite {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
}

.col {
	float: left;
	width: 33%;
}

.result {
	height: 20px;
	text-overflow: hidden;
	overflow: hidden;
	margin-right: 10px;
}