body {
	background: #110A08;
	font: 11px / 20px "Lucida Sans Unicode", Arial, Tahoma, sans-serif;
	color: #EEE;
	margin: 40px;
}

ul.nostyle {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Keeps the lists of items constricted
   to their inline width, rather than
   display block which will stretch out
   the the width of the parent container
*/
.shrinkwrap {
	display: inline-block;
	max-width: 100%;
}

.fail {
	color: #F30;
	font-style: italic;
}
.icon {
	float: left;
	width: 16px;
	height: 16px;
	margin: 2px;
}

.success .count {
	color: #3D3836; /* Non RGBA supporting browsers */
	color: rgba(238, 238, 238, 0.2);
}

.fail .icon {
	background: url("icon_fail_16.png");
}
.fail .big-icon {
	background: url("icon_fail_64.png");
}
.success .icon {
	background: url("icon_success_16.png");
}
.success .big-icon {
	background: url("icon_success_64.png");
}

.icon {
	margin-right: 7px;
}

.count {
	float: right;
	margin-left: 5px;
}

.suite {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
}

.col {
	float: left;
	width: 33%;
}

.result {
	height: 20px;
	text-overflow: hidden;
	overflow: hidden;
	margin-right: 10px;
}